[submodule "plugins/zsh-autosuggestions"]
	path = plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "plugins/zsh-z"]
	path = plugins/zsh-z
	url = https://github.com/agkozak/zsh-z
